/* === === === === Title === === === === */

.Title {
  display: flex;
  flex-direction: row;
}

.Title-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.Title-name {
  line-height: 1;
  font-size: 14px;
  text-transform: uppercase;
}

.Title-description {
  line-height: 1;
  font-size: 12px;
}
