@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  src: url('../fonts/Stolzl/Stolzl-Thin.woff2') format('woff2'), url('../fonts/Stolzl/Stolzl-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  src: url('../fonts/Stolzl/Stolzl-Light.woff2') format('woff2'),
    url('../fonts/Stolzl/Stolzl-Light.woff') format('woff');
}

@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  src: url('../fonts/Stolzl/Stolzl-Regular.woff2') format('woff2'),
    url('../fonts/Stolzl/Stolzl-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  src: url('../fonts/Stolzl/Stolzl-Medium.woff2') format('woff2'),
    url('../fonts/Stolzl/Stolzl-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  src: url('../fonts/Stolzl/Stolzl-Bold.woff2') format('woff2'), url('../fonts/Stolzl/Stolzl-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  src: url('../fonts/Stolzl/Stolzl-Book.woff2') format('woff2'), url('../fonts/Stolzl/Stolzl-Book.woff') format('woff');
}
