*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fnt-main);
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:focus {
  outline: 2px auto var(--clr-primary);
}

::selection {
  background: var(--clr-clickable);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fnt-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  background-color: var(--clr-background);
  color: var(--clr-text-primary);
}

a {
  color: var(--clr-clickable);
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  height: auto;
}

ul li {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

@keyframes slide {
  0% {
    background-position: center bottom, 0 center;
  }

  100% {
    background-position: center bottom, 1440px center;
  }
}

.Page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Page-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
}

.Page-bodyWrapper {
  display: flex;
  flex: 1;
  flex-flow: column;
  transition: all 250ms ease-in-out;
}

.Page-bodyWrapper.menu-Open {
  margin-left: 300px;
}

.Page-bodyWrapper {
  margin-left: 120px;
}

.Page-inner {
  flex: 1;
  padding-top: 30px;
  transition: all 250ms ease-in-out;
}

@media (--laptop) {
  .Page-content {
    height: auto;
  }

  .Page-bodyWrapper.menu-Open {
    margin-left: 260px;
  }
}

@media (--phone) {
  .Page-bodyWrapper {
    margin-left: unset;
  }

  .Page-bodyWrapper.menu-Open {
    margin-left: unset;
  }
}
