/* === === === === Header === === === === */

.Header {
  position: relative;
  overflow: hidden;
  height: 150px;
  border-bottom: 3px solid #0808082e;
  text-align: center;
  text-shadow: #0000004d 0 1px 0;
  background: url('/static/images/citysky.png') repeat-x, url('/static/images/cloudysky.png') rgb(116, 216, 234);
  background-repeat: repeat-x;
}

.Header::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #00000069;
  background-position: center bottom;
  inset: 0;
}

.Header:global {
  animation: 60s linear 0s infinite normal none running slide;
}
