/* === === === === Header === === === === */

.Header {
    text-shadow: rgb(0 0 0 / 30%) 0px 1px 0px;
    text-align: center;
    position: relative;
    height: 150px;
    overflow: hidden;
    background: url(/static/images/citysky.png) repeat-x, url(/static/images/cloudysky.png) rgb(116, 216, 234);
    background-repeat: repeat-x;
    border-bottom: 3px solid rgba(8, 8, 8, 0.18);
}

.Header::before {
    background-color: rgba(0, 0, 0, 0.41);
    content: "";
    background-position: center bottom;
    display: block;
    position: absolute;
    inset: 0px;
}

.Header:global {
    animation: 60s linear 0s infinite normal none running slide;
}