/* === === === === Header === === === === */

.Header {
  position: relative;
  overflow: hidden;
  height: 150px;
  border-bottom: 3px solid #0808082e;
  text-align: center;
  text-shadow: #0000004d 0 1px 0;
  background: url('/static/images/Web/citysky.png') repeat-x, url('/static/images/Web/cloudysky.png') rgb(116, 216, 234);
  background-repeat: repeat-x;
}

.Header::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #00000069;
  background-position: center bottom;
  inset: 0;
}

.Header:global {
  animation: 60s linear 0s infinite normal none running slide;
}

.habbo-button .enter-hotel a {
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

.habbo-button .enter-hotel {
  display: flex;
  background-color: #ffb900;
  border-color: #ffea00;
  color: #212121;
  border-radius: 5px 0 0 5px;
  border-width: 2px 1px 2px 2px;
  border-style: solid;
  text-transform: uppercase;
  filter: drop-shadow(-1px 4px 0 rgba(0, 0, 0, 0.3));
  position: relative;
  padding: 0 2rem;
  height: 46px;
  cursor: pointer;
  font-weight: 600;
}

.habbo-button .enter-hotel:before,
.habbo-button .enter-hotel:after {
  border-style: solid;
  position: absolute;
  display: block;
  content: '';
}

.habbo-button .enter-hotel:before {
  border-width: 23px;
  top: -2px;
  border-color: transparent transparent transparent #ffea00;
  right: -47px;
}

.habbo-button .enter-hotel:after {
  border-width: 21px;
  top: 0;
  border-color: transparent transparent transparent #ffb900;
  right: -42px;
}

.habbo-button .enter-hotel .inner {
  position: relative;
  padding-right: 27px;
  text-align: right;
  display: flex;
  align-items: center;
}

.habbo-button .enter-hotel .inner:before {
  background-image: url('/static/images/Web/sprite.005440fe4621f7ea.png');
  background-position: -463px -318px;
  background-size: 525px 411px;
  width: 21px;
  height: 26px;
  content: '';
  display: block;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  margin-right: -10px;
}
